* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: .8rem 0;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

h1 {
    padding: 0;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid grey;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .5rem;
}

nav a {
    padding: .5rem;
}

main {
    flex-grow: 1;
}

main section,
main article {
    padding: 0 1rem;
}

footer {
    padding: .5rem;
    text-align: center;
}

footer div {
    font-size: small;
}

main form {
    display: block;
    max-width: 500px;
    margin: auto;
}

main form label {
    display: block;
    padding: .25rem;
}

main form input,
main form textarea,
main form button {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid grey;
    border-radius: .3rem;
    padding: .5rem;
}

main form input,
main form textarea {
    width: 100%;
}

main form textarea {
    resize: vertical;
    height: 5.5rem;
}

main form button {
    padding: .5rem 1rem;
}

header, nav, main, footer {
    width: 100%;
    max-width: 768px;
    margin: auto;
}